@import '@/pages/styles/variables.scss';

.main {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100%;
    background-color: $background-color;
    color: $input-text-color;
}

.children {
    margin-left: 320px;
    width: calc(100% - 320px);
    padding: 80px 200px;
}