@import '@/pages/styles/variables.scss';

.main {
    position: relative;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: $background-color;
    color: $input-text-color;
}